#board{
    display: flex;
    width: 390px;
    height: 390px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 20%;
    border: 2px solid white; 
}
.box img{
    max-width: 95px;
    max-height: 95px;
}