body {
    background-color: black;
    font-family: 'Bangers', cursive;
    color:white;
    margin: 0;
    position: relative;
    height:100vh;
    transition: 0.5s;
}

h1 {
    margin: 0;
}

.endGameOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    text-align: center;
}

.buttonHolder {
    margin:0;
    position: absolute;
    height:100px;
    width: 400px;   
    top:50%;
    left: calc( 50% - 200px );
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.buttonHolder, #userMessages, header{
    text-align: center;
    z-index: 2;
}

.buttons {
    cursor: pointer;
}

.p1Team, .p0Team{
    display: none;
}

.uiMessages{
    font-size: 200%;
}

div.rulesToggle, div.resultsToggle{
    width: 100px;
    max-height: 40px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    font-size: 200%;
    cursor: pointer;
    margin: 10px 0;
    z-index: 4;
}

div.rulesToggle:hover, div.resultsToggle:hover{
    color: lightblue;
    box-shadow: 0 0 20px 7px lightblue;
}

#rulesToggle,#resultsToggle {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 200%;
}  

#setupErrors {
    position: relative;
    margin: 0;
    top: calc( 50% + 50px);
    width: 400px;
    left: calc( 50% - 200px);
    text-align: center;
}

#gameboard{
    display: flex;
    width: 390px;
    height: 500px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    left: calc(50% - 195px);
    top: calc(50% - 350px);
    z-index: 1;
    margin: 0;
}

.buttons {
    background-image: linear-gradient(slategray,white,slategray);
    width: 150px;
    height: 40px;
    border-radius: 5%;
    margin: 10px 0;
    font-size: 125%;
}

.buttons:hover{
    background-image: linear-gradient(white,slategray,white);
    color:white;
}

.buttons.restart,.buttons.newSettings,.buttons.resultsToggle {
    width: 280px;
    height: 30px;
}

.opacityToggle{
    opacity: 0;
    transition: 2sec;
}

#inGameMessages{
    position: relative;
    width: 390px;
    text-align: center;
    display: none;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 20%;
    border: 2px solid white;
    opacity: 0;
}


.box img{
    max-width: 95px;
    max-height: 95px;
}

footer {
    position: fixed;
    bottom: 0;
}

.disabled{
    pointer-events: none;
}

#results {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#results th, td {
    border-bottom: 2px solid white;
}

td img{
    max-height:37px;
}

.winners{
    border-left: 2px solid white;
}

.rounds{
    border-right: 2px solid white;
}